OSINT_News_Intelligence_Agent.json
{
  "name": "OSINT News Intelligence Agent",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            },
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -224,
        -176
      ],
      "id": "6efe685c-70b4-4d0a-bf1c-29fb159e3f12",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://newsapi.org/v2/everything?q=%22AI+regulation%22+OR+%22AI+policy%22+OR+%22artificial+intelligence+law%22&language=en&sortBy=publishedAt&pageSize=10&apiKey=YOUR_NEWSAPI_KEY",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        224,
        -176
      ],
      "id": "d6fd8e1f-c5b6-4365-9b45-54074d1ebfd2",
      "name": "HTTP Request (NewsAPI)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "YOUR_CLAUDE_API_KEY"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ model: 'claude-opus-4-6', max_tokens: 400, messages: [{ role: 'user', content: 'Analyze this AI regulation news article. Return ONLY a valid JSON object with: source_legitimacy (HIGH/MEDIUM/LOW), regulatory_stance (PRO-REGULATION/ANTI-REGULATION/NEUTRAL), sentiment (POSITIVE/NEGATIVE/NEUTRAL), summary (under 20 words), stance_reason (short phrase). Title: ' + $json.title + '. Source: ' + $json.source.name + '. Description: ' + $json.description }] }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        896,
        -240
      ],
      "id": "083ffa3b-71f5-45e6-9f32-65c4cbac9de9",
      "name": "HTTP Request (ClaudeAPI)"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const claudeResponse = $input.item.json;\nconst rawText = claudeResponse.content[0].text;\n\nconst cleanedText = rawText.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n\nconst parsed = JSON.parse(cleanedText);\n\nconst article = $('Loop Over Items').item.json;\n\nreturn {\n  json: {\n    title: article.title || \"\",\n    source: article.source?.name || \"\",\n    url: article.url || \"\",\n    publishedAt: article.publishedAt || \"\",\n    source_legitimacy: parsed.source_legitimacy || \"\",\n    regulatory_stance: parsed.regulatory_stance || \"\",\n    stance_reason: parsed.stance_reason || \"\",\n    sentiment: parsed.sentiment || \"\",\n    summary: parsed.summary || \"\"\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        -240
      ],
      "id": "3ce0f0fd-e71e-4a3a-a4de-5bdbbab41f0a",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        672,
        -176
      ],
      "id": "1abb7074-6a8c-4f1c-bdb9-dcf9b50d1373",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "return $input.first().json.articles.map(article => ({ json: article }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        -176
      ],
      "id": "3be1e8ab-6676-480f-9462-4fa4bd551dca",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_URL",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "OSINT Agent",
          "mode": "list",
          "cachedResultName": "OSINT Agent"
        },
        "columns": {
          "mappingMode": "autoMapInputData"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1344,
        -176
      ],
      "id": "c3b13622-925b-4278-8430-da563006ea98",
      "name": "Append row in sheet"
    },
    {
      "parameters": {
        "operation": "clear",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "AI Agents Outputs"
        },
        "sheetName": {
          "__rl": true,
          "value": "OSINT Agent",
          "mode": "list",
          "cachedResultName": "OSINT Agent"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        0,
        -176
      ],
      "id": "4f311fbd-d3b9-4372-8c84-e832094ddab5",
      "name": "Clear sheet"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Clear sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request (NewsAPI)": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request (ClaudeAPI)": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request (ClaudeAPI)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clear sheet": {
      "main": [
        [
          {
            "node": "HTTP Request (NewsAPI)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "10948572-94f1-4c1c-a1fd-5cf3636f04a1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "nkFe7jP4UbUIw3ZU",
  "tags": []
}
